<table summary="Tweeter form fields">
  <tr>
    <th>Tweeter Name</th>
    <td><%= f.text_field(:name) %></td>
  </tr>
  <tr>
    <th>Tweeter Handle</th>
    <td><%= f.text_field(:twitter_handle) %></td>
  </tr>
  <tr>
    <th>Tweeter Type</th>
    <td><%= f.text_field(:type_of_tweeter) %></td>
  </tr>
</table>