<%= link_to("<< Back to List", events_path, :class => 'back-link') %>

<div class="events edit">
  <h2>Update Event</h2>

  <%= form_for(@event) do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f}) %>


    <div class="form-buttons">
      <%= f.submit("Update Event") %>
    </div>

  <% end %>
</div>
